$white: #fcfcfc;
$gray: #ededed;
$black: #212121;
$blue: #007070;


$black-lt: lighten($black, 40%);
$blue-lt: lighten($blue, 70%);
$green-lt: #d9ead3;
$yellow-lt: #fff2cc;
$red-lt: #f4cccc;

$color-text: $black;
$color-background: $white;

$color-background-mainbar: $gray;
$color-background-workspace: $white;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: $color-text;
  background: $color-background;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}
